/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-abr-2017, 16:31:53
    Author     : Isabel
*/
header{
    background-color: beige;
    display: inline-block;
    width:100%;
    padding: 10px;
    margin-right: 10px;
}

header h1{
    margin-bottom: 2px;
    text-align: center;
    width:30%;
    height: 0px;

}


.formularioInicioSesion{
    border: 1px solid black;
    float: right;
    margin-right:10px;
    background-color: cornsilk;
    padding: 5px;
}
.formularioInicioSesion input{
    margin: 1px;
}

body{
    width:90%;
    margin: 10px auto;
}

#registro{
    position: relative;
    margin: 10px auto;
}
#registro input{
    text-align: justify;
    margin: 5px;
}

#formRegistro, .formPerfil{
    background-color: rgba(146, 146, 146, 0.23);
    border: 1px solid black;
    padding: 10px;
    width: 25%;
}

#registro input, .formPerfil input {
    margin: 5px;
    color: #3F51B5;
    background-color: rgb(255, 254, 250);
    border-radius: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.tablaArticulos td, .tablaArticulos th{
    background-color: whitesmoke;
}

#header {
    margin:auto;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;

}

ul, ol {
    list-style:none;
}

.nav{
    width:100%;
    margin-right: 10px;

}

.nav > li {
    float:left;

}

.nav li a {
    color:black;
    text-decoration:none;
    padding:5px;

}

.nav li a:hover {
    font-size: 1.1em;
    text-decoration: underline;
}




